<header>
    <!--inicio cabeçalho-->

    <nav class="navbar navbar-expand-sm navbar-light bg-info">
      <div class="container-fluid logo">
        <a class="navbar-brand" href="#">
          <img src="../../assets/Logo.png" alt="">
        </a>
      </div>
    </nav>

  </header>
  <!--fim cabeçalho-->
<div class="text-center">
    <h1>Informações das Escola</h1>
</div>
<div class="d-flex justify-content-end">
    <button (click)="voltar()" type="button" class="btn btn-outline-dark" style="margin-right: 48px;">Voltar</button>
</div>
<div class="geral">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Nome da Escola</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Telefone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Escola Barão do Rio Branco</td>
                <td>
                    <div class="form-check">

                        <label class="form-check-label" for="flexCheckDefault">
                            07.356.942/0001-69
                        </label>

                    </div>
                </td>
                <td>
                    (47) 3322-6133
                </td>
                <td class="button">
                    <button type="button" class="btn btn-outline-light">X</button>

                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Santos Dumont</td>
                <td>
                    <div class="form-check">

                        <label class="form-check-label" for="flexCheckDefault">
                            07.584.786/0001-50
                        </label>

                    </div>
                </td>
                <td>
                    (47) 3378-8686
                </td>
                <td class="abc">
                    <button type="button" class="btn btn-outline-light">X</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>