.logo {
    height: 100px;
}

.usuario{

    padding: 20px;
    width: 100%;

}

h2 {
    text-transform: uppercase;
    text-align: center;
    
}

.geral {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100%;
    background-color: #0dcaf0;
    background-clip: padding-box;
    text-align: center;
  
}

.button{
    text-align: center;
}
