<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="painel-aluno.component.css">

    <title>Painel Aluno</title>

</head>

<body class="bg-info">

    <header>
        <!--inicio cabeçalho-->

        <nav class="navbar navbar-expand-sm navbar-light bg-info">
            <div class="container-fluid logo">
                <a class="navbar-brand" href="#">
                    <img src="img/Logo.png" alt="">
                </a>
            </div>
        </nav>

    </header>
    <!--fim cabeçalho-->

    <div class="geral">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Informacões</th>
                    <th>-----------------------</th>
                    <th scope="col">Ficha Médica</th>
                    <th>-----------------------</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Sexo:</th>
                    <td>Masculino</td>
                    <td>Tipo Sanguineo:</td>
                    <td>A+</td>

                </tr>
                <tr>
                    <th scope="row">CPF:</th>
                    <td>000.000.000-00</td>
                    <td>
                        Deficiencia:
                    </td>
                    <td>Nenhuma</td>
                </tr>

                <tr>
                    <th scope="row">Endereço:</th>
                    <td>Rua 200</td>
                    <td>
                        Peso:
                    </td>
                    <td>50 kg</td>
                </tr>

                <tr>
                    <th scope="row">Telefone:</th>
                    <td>47 999197852</td>
                    <td>
                        Altura:
                    </td>
                    <td>1,78 cm</td>
                </tr>

                <tr>
                    <th scope="row">Turma:</th>
                    <td>302</td>
                    <td>
                        Plano de Saúde:
                    </td>
                    <td>Nenhum</td>
                </tr>

                <tr>
                    <th scope="row">Email:</th>
                    <td>davi@email.com</td>
                    <td>
                        ----------
                    </td>
                    <td>--------</td>
                </tr>

                <tr>
                    <th scope="row">Matrícula:</th>
                    <td>232024325</td>
                    <td>
                        ----------
                    </td>
                    <td>--------</td>
                </tr>

            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->



</body>

</html>