<header>
    <!--inicio cabeçalho-->

    <nav class="navbar navbar-expand-sm navbar-light bg-info">
      <div class="container-fluid logo">
        <a class="navbar-brand" href="#">
          <img src="../../assets/Logo.png" alt="">
        </a>
      </div>
    </nav>

  </header>
  <!--fim cabeçalho-->

<div class="text-center">
    <h1>Informações Do Professor</h1>
</div>
<div class="d-flex justify-content-end" >
    <button (click)="voltar()" type="button" class="btn btn-outline-dark" style="margin-right: 48px;">Voltar</button>
</div>
<div class="geral">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">CPF</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">davi</th>
                <td>davi@email</td>
                <td>34567908</td>
                <td>2134233423</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Materias</th>
                <th scope="col">Turmas</th>
                <th scope="col">Formação</th>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Matematica</th>
                <td>302</td>
                <td>Física</td>
                <td>Bacharelado em física - Furb</td>
            </tr>

            <tr>
                <th scope="row">Matematica</th>
                <td>302</td>
                <td>Física</td>
                <td>Bacharelado em física - Furb</td>
            </tr>

            <tr>
                <th scope="row">Matematica</th>
                <td>302</td>
                <td>Física</td>
                <td>Bacharelado em física - Furb</td>
            </tr>
        </tbody>
    </table>
</div>