

    <h1>Cadastro Do Professor</h1>

    <form class="row g-3 mt-3 bg-dark border border-secondary mx-auto">
        <div class="col-md-12">
            <label for="nome" class="form-label letras">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Ex.: João Pedro">
        </div>

        <div class="col-12">
            <label for="endereco" class="form-label letras">Email</label>
            <input type="text" class="form-control" id="Email" placeholder="Ex.: firmo10@gmail.com">
        </div>

        <div class="col-12">
            <label for="telefone" class="form-label letras">Telefone</label>
            <input type="text" class="form-control" id="telefone" placeholder="Ex.: +55 (DDD)...">
        </div>

        <div class="col-12">
            <label for="telefone" class="form-label letras">CPF</label>
            <input type="text" class="form-control" id="CPF" placeholder="Ex.: xxx.xxx.xxx-xx">
        </div>

        <div class="col-12">
            <label for="telefone" class="form-label letras">Estado Civil</label>
            <input type="text" class="form-control" id="Estado Civil" placeholder="Ex.: solteiro, casado, viuvo">
        </div>

        <div class="col-12">
            <label for="telefone" class="form-label letras">Graduaçaõ</label>
            <input type="text" class="form-control" id="Graduaçaõ" placeholder="Ex.: Quimica">
        </div>

        <div class="col-12">
            <label for="telefone" class="form-label letras">Formação</label>
            <input type="text" class="form-control" id="Formação" placeholder="Ex.: Direito, economia">
        </div>


        <div>
            <button click type="submit" class="btn btn-outline-light mb-1">Enviar</button>
            <button (click)="voltarPaginaPrincipal()" type="button" class="btn btn-outline-light mb-1">Voltar</button>
        </div>

    </form>

