

    <div class="d-flex justify-content-end" >
        <button (click)="voltarPaginaPrincipal()" type="button" class="btn btn-outline-dark" style="margin-right: 20px;">Voltar</button>
        <button (click)="cadastrarEscola()" type="button" class="btn btn-outline-dark" style="margin-right: 48px;">Cadastrar</button>
    </div>
    <div class="geral">
        <table class="table table-dark table-striped">
            <thead>
                <tr>

                    <th scope="col">Informações</th>
                    <th>-----------------------</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Endereço:</th>
                    <td>R. Amazonas</td>


                </tr>
                <tr>
                    <th scope="row">UF:</th>
                    <td>SC</td>

                </tr>

                <tr>
                    <th scope="row">Cidade:</th>
                    <td>Blumenau</td>

                </tr>

                <tr>
                    <th scope="row">Telefone:</th>
                    <td>47 999197852</td>

                </tr>

                <tr>
                    <th scope="row">CNPJ:</th>
                    <td>3024554654</td>

                </tr>

                <tr>
                    <th scope="row">Email:</th>
                    <td>davi@email.com</td>

                </tr>

                <tr>
                    <th scope="row">Matrícula:</th>
                    <td>232024325</td>

                </tr>

            </tbody>
        </table>

     
    
    </div>

   


    