

<div class="text-center">
    <h1>Aluno</h1>
</div>
<div class="d-flex justify-content-end">
    <button (click)="voltar()" type="button" class="btn btn-outline-dark" style="margin-right: 48px;">Voltar</button>
</div>
<div class="geral">
    <table class="table table-dark table-striped">
        <thead>
            <tr>    
                <th scope="col">Matricula</th>
                <th scope="col">Nome do aluno</th>
                <th id="colPerfil" scope="col">Informações Do Aluno</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">651651</th>
                <td>Davi</td>
                <td>
                    <div class="button">
                        <button (click)="perfilAluno()" type="button" class="btn btn-outline-light">Perfil aluno</button>
                    </div>

                </td>
            </tr>
            <tr>
                <th scope="row">65165156</th>
                <td>Dutra</td>
                <td>
                    <div class="button">
                        <button (click)="perfilAluno()" type="button" class="btn btn-outline-light">Perfil aluno</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">6516516515</th>
                <td>Firmo</td>
                <td>
                    <div class="button">
                        <button (click)="perfilAluno()" type="button" class="btn btn-outline-light">Perfil aluno</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">23254874</th>
                <td>Stefane</td>
                <td>
                    <div class="button">
                        <button (click)="perfilAluno()" type="button" class="btn btn-outline-light">Perfil aluno</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">23254874</th>
                <td>Stefane</td>
                <td>
                    <div class="button">
                        <button (click)="perfilAluno()" type="button" class="btn btn-outline-light">Perfil aluno</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">23254874</th>
                <td>Stefane</td>
                <td>
                    <div class="button">
                        <button (click)="perfilAluno()" type="button" class="btn btn-outline-light">Perfil aluno</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>