


    <h1>Cadastro Da Escola</h1>

    <form class="row g-3 mt-3 bg-dark border border-secondary mx-auto">
        <div class="col-md-12">
            <label for="nome" class="form-label letras">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome da Instituição...">
        </div>

        <div class="col-12">
            <label for="endereco" class="form-label letras">Endereço</label>
            <input type="text" class="form-control" id="endereco" placeholder="N° Rua...">
        </div>
        <div class="col-12">
            <label for="telefone" class="form-label letras">Telefone</label>
            <input type="text" class="form-control" id="telefone" placeholder="55+ (DDD)...">
        </div>
        <div class="col-md-6">
            <label for="cidade" class="form-label letras">Cidade</label>
            <input type="text" class="form-control" id="cidade">
        </div>
        <div class="col-md-6">
            <label for="uf" class="form-label letras">UF</label>
            <select id="uf" class="form-select">
                <option selected>...</option>
                <option>RS</option>
                <option>SC</option>
                <option>PR</option>
            </select>
        </div>
        <div class="col-md-12">
            <label for="cnpj" class="form-label letras">CNPJ</label>
            <input type="text" class="form-control" id="cnpj">
        </div>

        <div>
            <button click type="submit" class="btn btn-outline-light mb-1">Enviar</button>
            <button (click)="voltarPaginaPrincipal()" type="button" class="btn btn-outline-light mb-1">Voltar</button>
        </div>

    </form>
