<form class="row g-3 mt-3 bg-dark border border-secondary mx-auto">
    <div class="col-md-12">
        <label for="nome" class="form-label letras">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="cadastroAluno.nome" name="nome" data-form-field="Nome" required="" id="nome">
    </div>

    <div class="col-12">
        <label for="escola" class="form-label letras">Escola</label>
        <input type="text" class="form-control" name="escola">
    </div>

    <div class="col-12">
        <label for="cpf" class="form-label letras">CPF</label>
        <input type="text" class="form-control" name="cpf">
    </div>

    <div class="col-12">
        <label for="telefone" class="form-label letras">Telefone</label>
        <input type="text" class="form-control" name="telefone">
    </div>

    <div class="col-12">
        <label for="turma" class="form-label letras">Turma</label>
        <input type="text" class="form-control" name="turma">
    </div>

    <div class="col-12">
        <label for="email" class="form-label letras">Email</label>
        <input type="text" class="form-control" name="email">
    </div>

    <div class="col-12">
        <label for="sexo" class="form-label letras">Sexo</label>
        <input type="text" class="form-control" name="sexo">
    </div>





    <div>
        <button type="submit" class="btn btn-outline-light mb-1">Enviar</button>

        <button (click)="voltarPaginaPrincipal()" type="submit" class="btn btn-outline-light mb-1">Voltar</button>


    </div>


</form>