<form class="row g-3 mt-3 bg-dark border border-secondary mx-auto">
    <div class="col-md-12">
        <label for="nome" class="form-label letras">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="cadastroAluno.nome" name="nome">
    </div>

    <div class="col-12">
        <label for="escola" class="form-label letras">Escola</label>
        <input type="text" class="form-control" [(ngModel)]="cadastroAluno.escola" escola="escola">
    </div>

    <div class="col-12">
        <label for="cpf" class="form-label letras">CPF</label>
        <input type="text" class="form-control" [(ngModel)]="cadastroAluno.cpf" cpf="cpf">
    </div>

    <div class="col-12">
        <label for="telefone" class="form-label letras">Telefone</label>
        <input type="text" class="form-control" [(ngModel)]="cadastroAluno.telefone" telefone="telefone">
    </div>

    <div class="col-12">
        <label for="turma" class="form-label letras">Turma</label>
        <input type="text" class="form-control" [(ngModel)]="cadastroAluno.turma" turma="turma">
    </div>

    <div class="col-12">
        <label for="email" class="form-label letras">Email</label>
        <input type="text" class="form-control" [(ngModel)]="cadastroAluno.email" email="email">
    </div>

    <div class="col-12">
        <label for="sexo" class="form-label letras">Sexo</label>
        <input type="text" class="form-control" [(ngModel)]="cadastroAluno.sexo " sexo="sexo">
    </div>

    <h4 class="letras">Informações dos responsaveis</h4>

    <div class="col-md-12">
        <label for="nome" class="form-label letras">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="cadastroAluno.nomeResponsavel"
            nomeResponsavel="nomeResponsavel">
    </div>

    <div class="col-md-12">
        <label for="endereco" class="form-label letras">endereco</label>
        <input type="text" class="form-control" name="endereco">
    </div>

    <div class="col-12">
        <label for="telefone" class="form-label letras">Telefone</label>
        <input type="text" class="form-control" name="telefone">
    </div>

    <div class="col-12">
        <label for="cpf" class="form-label letras">CPF</label>
        <input type="text" class="form-control" name="cpf">
    </div>

    <div class="col-12">
        <label for="estadoCivil" class="form-label letras">estadoCivil</label>
        <input type="text" class="form-control" name="estadoCivil">
    </div>

    <div class="col-12">
        <label for="email" class="form-label letras">Email</label>
        <input type="text" class="form-control" name="email">
    </div>

    <h4 class="letras">Informações da Ficha Médica</h4>

    <div class="col-md-12">
        <label for="tipoSanguineo" class="form-label letras">tipoSanguineo</label>
        <input type="text" class="form-control" name="tipoSanguineo">
    </div>

    <div class="col-12">
        <label for="deficiencia" class="form-label letras">deficiencia</label>
        <input type="text" class="form-control" name="deficiencia">
    </div>

    <div class="col-12">
        <label for="peso" class="form-label letras">peso</label>
        <input type="text" class="form-control" name="peso">
    </div>

    <div class="col-12">
        <label for="altura" class="form-label letras">altura</label>
        <input type="text" class="form-control" name="altura">
    </div>

    <div class="col-12">
        <label for="planoSaude" class="form-label letras">planoSaude</label>
        <input type="text" class="form-control" name="planoSaude">
    </div>



    <div>
        <button type="submit" class="btn btn-outline-light mb-1">Enviar</button>

        <button (click)="voltarPaginaPrincipal()" type="submit" class="btn btn-outline-light mb-1">Voltar</button>


    </div>


</form>