

       
    <header><!--inicio cabeçalho-->

      <nav class="navbar navbar-expand-sm navbar-light bg-info">
        <div class="container-fluid logo">
          <a class="navbar-brand" href="#">
            <img src="../assets/Logo.png" alt="">
          </a>
        </div>
      </nav>
  
      </header><!--fim cabeçalho-->

    

      <section class="home bg-info"><!--inicio seção home-->

       <div class="row">

        <div class="col-md-2 bg-dark border border-5 border-dark"><!--inicio barra lateral-->
            <div class="navbar-nav ">
                <br>
                <a class="btn btn-outline-light" href="#" tabindex="-1" aria-disabled="true">Escola</a> <br>
              
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Turmas
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li><a class="dropdown-item" href="#">1a</a></li>
                      <li><a class="dropdown-item" href="#">1b</a></li>
                      <li><a class="dropdown-item" href="#">2a</a></li>
                      <li><a class="dropdown-item" href="#">2b</a></li>
                      <li><a class="dropdown-item" href="#">3a</a></li>
                      <li><a class="dropdown-item" href="#">3b</a></li>
                    </ul>

                    
                  </div> <br>

                  <a class="btn btn-outline-light" href="#">Cadastrar Aluno</a>

              </div>
        </div><!--fim barra lateral-->

        <div class="col-md-10">
         <div class="container">
          <div class="row">
     
          <div class="col-md-6 d-flex"><!--texto inicio-->
            <div class="align-self-center">
  
              <h1 class="display-4">Este é o painel da Escola!</h1>
              <p>
                  Aqui você pode gerenciar e zelar pela segurança dos alunos,
                  um sistema simples e prático!
              </p>
  
  
            </div>
          </div><!--texto fim-->
          </div>
         </div>
        </div>
        </div>
      </section><!--fim seção home-->
  
      <section class="home bg-info"><!--inicio seção imagem-->
          <div class="container">
           <div class="row">
      
              <div class="text-center">
                <img src="../assets/sala.jpg" class="img-fluid border border-5 border-dark mt-4 mb-4">
              </div>

              <div class="text-center">
                  <h3>Sempre estamos preocupados com a segurança de todos</h3>
              </div>

           </div>
          </div>
       </section><!--fim seção imagem-->
      
    




<router-outlet></router-outlet>