
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Escola</title>

    <link rel="stylesheet" href="app.component.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body class="bg-info">

       
    <header><!--inicio cabeçalho-->

      <nav class="navbar navbar-expand-sm navbar-light bg-info">
        <div class="container-fluid logo">
          <a class="navbar-brand" href="#">
            <img src="img/Logo.png" alt="">
          </a>
        </div>
      </nav>
  
      </header><!--fim cabeçalho-->

    

      <section class="home bg-info"><!--inicio seção home-->

       <div class="row">

        <div class="col-md-2 bg-dark border border-5 border-dark"><!--inicio barra lateral-->
            <div class="navbar-nav ">
                <br>
                <a class="btn btn-outline-light" href="#" tabindex="-1" aria-disabled="true">Escola</a> <br>
              
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Turmas
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li><a class="dropdown-item" href="#">1a</a></li>
                      <li><a class="dropdown-item" href="#">1b</a></li>
                      <li><a class="dropdown-item" href="#">2a</a></li>
                      <li><a class="dropdown-item" href="#">2b</a></li>
                      <li><a class="dropdown-item" href="#">3a</a></li>
                      <li><a class="dropdown-item" href="#">3b</a></li>
                    </ul>

                    
                  </div> <br>

                  <a class="btn btn-outline-light" href="#">Cadastrar Aluno</a>

              </div>
        </div><!--fim barra lateral-->

        <div class="col-md-10">
         <div class="container">
          <div class="row">
     
          <div class="col-md-6 d-flex"><!--texto inicio-->
            <div class="align-self-center">
  
              <h1 class="display-4">Este é o painel da Escola!</h1>
              <p>
                  Aqui você pode gerenciar e zelar pela segurança dos alunos,
                  um sistema simples e prático!
              </p>
  
  
            </div>
          </div><!--texto fim-->
          </div>
         </div>
        </div>
        </div>
      </section><!--fim seção home-->
  
      <section class="home bg-info"><!--inicio seção imagem-->
          <div class="container">
           <div class="row">
      
              <div class="text-center">
                <img src="img/20201125_00_escola_sala_de_aula_quadro.jpg" class="img-fluid border border-5 border-dark mt-4 mb-4">
              </div>

              <div class="text-center">
                  <h3>Sempre estamos preocupados com a segurança de todos</h3>
              </div>

           </div>
          </div>
       </section><!--fim seção imagem-->
      
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
    
</body>



<router-outlet></router-outlet>