<section class="home bg-info">
    <div class="row">
        <div class="col-md-2 bg-dark border border-5 border-dark">
            <div class="navbar-nav ">
                <br>

                <a (click)="telaInfoProfessor()" class="btn btn-outline-light" tabindex="-1"
                    aria-disabled="true">Perfil</a> <br>
                <a (click)="telaInfoEscola()" class="btn btn-outline-light" tabindex="-1"
                    aria-disabled="true">Escolas</a> <br>
                <a (click)="telaTabelaTurma()" class="btn btn-outline-light" tabindex="-1"
                    aria-disabled="true">Turmas</a> <br>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="align-self-center">
                            <h1 class="display-4">Seja Bem-vindo ao painel do professor!</h1>
                            <p>
                                Aqui você pode visualizar seu perfil de professor,
                                as escolas em que você trabalha, suas turmas e alunos!
                            </p>
                            <form class="mt-4 mb-4">
                                Verifique seus dados e certifique-se de que estão corretos: <br>
                                <br>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home bg-info">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <img src="img/20201125_00_escola_sala_de_aula_quadro.jpg"
                    class="img-fluid border border-5 border-dark mt-4 mb-4">
            </div>
            <div class="text-center">
                <h3>Sempre estamos preocupados com os profissionais da educação</h3>
            </div>
        </div>
    </div>
</section>