

      <div class="text-center">
        <h1>Tabela Turmas</h1>
    </div>
    <div class="d-flex justify-content-end" >
        <button (click)="voltar()" type="button" class="btn btn-outline-dark" style="margin-right: 48px;">Voltar</button>
    </div>


<div class="geral">
    <table class="table table-striped table-dark">

        <thead>
            <tr>
                <th scope="col">Matéria / Turma: 2A</th>
                <th scope="col">Lpo</th>
                <th scope="col">Mat</th>
                <th scope="col">Qui</th>
                <th scope="col">Fis</th>
                <th scope="col">Edf</th>
                <th scope="col">Bio</th>
                <th scope="col">Hist</th>
            </tr>


            <tr>
                <th scope="row">Professor</th>
                <td class="table-bordered">Firmo Guilherme Bernardo Vieira</td>
                <td class="table-bordered">Firmo Guilherme Bernardo Vieira</td>
                <td class="table-bordered">Firmo Guilherme Bernardo Vieira</td>
                <td class="table-bordered">Firmo Guilherme Bernardo Vieira</td>
                <td class="table-bordered">Firmo Guilherme Bernardo Vieira</td>
                <td class="table-bordered">Firmo Guilherme Bernardo Vieira</td>
                <td class="table-bordered">Firmo Guilherme Bernardo Vieira</td>

            </tr>
        </thead>
    </table>

    <table class="table table-dark table-striped w-75 text-center ">

        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Lucas Dutra</td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Firmo Guilherme Bernardo Vieira</td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Davi</td>

            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Stefane</td>

            </tr>
        </tbody>

    </table>
</div>




